<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
	<head>
	  {% if page.title %}
	  		<title>{{ page.title }} | SourceNinja Documentation</title>
		{% else %}
			<title>SourceNinja Documentation</title>
		{% endif %}

		<link rel="stylesheet" href="http://bretthard.in/assets/css/bootstrap.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
	</head>
    
	<body>
		<div class="main-content">
			<div class="container">
		  		<p>
				{{ content }}
				</p>
			</div>
		</div>
	</body>
</html>